<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/basket-aside.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Responsive-Pricing-Table-Snippet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/style-jw.css">
    <link rel="stylesheet" href="assets/css/vote-aside.css">
    <link rel="stylesheet" href="assets/css/vote.css">
    <link rel="stylesheet" href="assets/css/yogiyo.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark bg-primary align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" id="user-aside" style="width: 300px;background: rgb(244,244,244);color: rgb(255,255,255);">
            <div class="container-fluid d-flex flex-column p-0"><img data-bss-hover-animate="pulse" id="bujang-logo" width="159" height="38" src="assets/img/bujang-logo.png" href="header+aside+footer.html">
                <ul class="navbar-nav" id="asdie-ul">
                    <li class="nav-item"><a class="nav-link nav-title no-drag">대충 asdie</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="#">신고 관리</a></li>
                    <li class="nav-item">
                        <hr class="nav-line">
                    </li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper" style="width: 100%;">
            <div id="header">
                <nav class="navbar navbar-light navbar-expand bg-white shadow d-xxl-flex justify-content-xxl-end mb-4 topbar static-top" id="header" style="margin: 0;width: 100%;">
                    <div class="container">
                        <div></div>
                        <ul class="navbar-nav d-xxl-flex align-items-xxl-center">
                            <li class="nav-item dropdown no-arrow" id="user-alert"><a class="dropdown-toggle nav-link nav-link" aria-expanded="false" data-bs-toggle="dropdown"><span class="badge bg-danger badge-counter">3</span><i class="fas fa-bell fa-fw"></i></a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                    <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="me-3">
                                            <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 12, 2019</span>
                                            <p>A new monthly report is ready to download!</p>
                                        </div>
                                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="me-3">
                                            <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 7, 2019</span>
                                            <p>$290.29 has been deposited into your account!</p>
                                        </div>
                                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="me-3">
                                            <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 2, 2019</span>
                                            <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                        </div>
                                    </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </li>
                            <li class="nav-item d-inline-flex"><button class="btn btn-primary" id="logout-btn" type="button">로그아웃</button></li>
                            <li class="nav-item dropdown d-xxl-flex" id="menu-dropdown"><a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="fas fa-bars"></i></a>
                                <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">나의정보</a><a class="dropdown-item" href="#">나의그룹</a><a class="dropdown-item" href="#">방문내역</a><a class="dropdown-item" href="#">고객센터</a></div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="container" id="container" style="max-width: 1920px;height: 891px;width: 100%;padding: 0;">
                <div style="width: 95%;margin-left: 40px;margin-right: 40px;">
                    <div style="border-bottom-width: 1px;border-bottom-color: rgb(59,59,64);margin-bottom: 20px;"><span style="font-size: 18px;font-weight: bold;color: rgb(25,25,25);">신고 관리</span></div>
                    <div>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation"><a class="nav-link active text-center" role="tab" data-bs-toggle="tab" href="#tab-1" style="width: 164px;">광고/도배 댓글</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link text-center" role="tab" data-bs-toggle="tab" href="#tab-2" style="width: 164px;">잘못된 음식점 정보</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link text-center" role="tab" data-bs-toggle="tab" href="#tab-3" style="width: 164px;">욕설/음란물</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="tab-1">
                                    <div class="table-responsive" style="padding-bottom: 34px;">
                                        <table class="table">
                                            <thead style="font-weight: bold;color: rgb(105,107,119);">
                                                <tr>
                                                    <th style="width: 9.375%;">리뷰 ID</th>
                                                    <th style="width: 12.5%;">리뷰 No</th>
                                                    <th style="width: 42.25%;">리뷰내용</th>
                                                    <th style="width: 12.5%;">리뷰 작성 일자</th>
                                                    <th style="width: 9.375%;">신고자 ID</th>
                                                    <th colspan="2" style="width: 14%;">처리하기</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="width: 9.375%;">Text</td>
                                                    <td style="width: 12.5%;">대충 내용</td>
                                                    <td style="width: 42.25%;">Cell 2</td>
                                                    <td style="width: 12.5%;">Cell 2</td>
                                                    <td style="width: 9.375%;">Cell 2</td>
                                                    <td style="width: 7%;"><button class="btn btn-primary" type="button">삭제하기</button></td>
                                                    <td style="width: 7%;"><button class="btn btn-primary" type="button">보류하기</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab-2">
                                    <p>Content for tab 2.</p>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="tab-3">
                                    <p>Content for tab 3.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="d-xxl-flex justify-content-xxl-center">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
            <footer class="bg-white sticky-footer" id="footer" style="width: 100%;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © FEELIS 2022<br>https://github.com/FEELIS&nbsp;<br></span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>