<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>문의내역</title>
    <meta name="og:type" content="article">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&amp;display=swap">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/css/admin.css">
    <link rel="stylesheet" href="../../assets/css/alert.css">
    <link rel="stylesheet" href="../../assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="../../assets/css/basket-aside.css">
    <link rel="stylesheet" href="../../assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="../../assets/css/Bold-BS4-Responsive-Pricing-Table-Snippet.css">
    <link rel="stylesheet" href="../../assets/css/Bootstrap-4---Product-List.css">
    <link rel="stylesheet" href="../../assets/css/Bootstrap-4-Calendar-No-Custom-Code.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css">
    <link rel="stylesheet" href="../../assets/css/custom-buttons.css">
    <link rel="stylesheet" href="../../assets/css/dh-row-text-image-right-responsive.css">
    <link rel="stylesheet" href="../../assets/css/dh-row-titile-text-image-right-1.css">
    <link rel="stylesheet" href="../../assets/css/FAQ.css">
    <link rel="stylesheet" href="../../assets/css/genie-modal.css">
    <link rel="stylesheet" href="../../assets/css/group.css">
    <link rel="stylesheet" href="../../assets/css/HTML-layout-with-an-unordered-list.css">
    <link rel="stylesheet" href="../../assets/css/ListeBien-listebien.css">
    <link rel="stylesheet" href="../../assets/css/ListeBien.css">
    <link rel="stylesheet" href="../../assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="../../assets/css/random.css">
    <link rel="stylesheet" href="../../assets/css/Review-rating-Star-Review-Button.css">
    <link rel="stylesheet" href="../../assets/css/Reviews.css">
    <link rel="stylesheet" href="../../assets/css/storeinfo.css">
    <link rel="stylesheet" href="../../assets/css/storeList.css">
    <link rel="stylesheet" href="../../assets/css/style-jw.css">
    <link rel="stylesheet" href="../../assets/css/user.css">
    <link rel="stylesheet" href="../../assets/css/visited.css">
    <link rel="stylesheet" href="../../assets/css/vote.css">
    <link rel="stylesheet" href="../../assets/css/yogiyo.css">
</head>

<body id="page-top">
    <div id="wrapper">        <nav class="navbar navbar-dark bg-primary align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" id="user-aside">
            <div class="container-fluid d-flex flex-column p-0">
                <a href = "https://lunchwb.bss.design">
                    <img data-bss-hover-animate="pulse" id="bujang-logo" width="159" height="38" src="../../assets/img/assets/img/bujang-logo.png">
                </a>
		    	<ul class="navbar-nav" id="asdie-ul">
                    <li class="nav-item"><a class="nav-link nav-title no-drag">나의정보</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="../../views/user/checkUserInfo.html">회원정보수정</a></li>
                    <li class="nav-item">
                        <hr class="nav-line">
                    </li>
                    <li class="nav-item"><a class="nav-link nav-title no-drag">나의그룹</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="../../views/group/groupList.html">그룹목록</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="../../views/group/groupList.html">그룹추가</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="../../views/group/blacklist.html">블랙리스트</a></li>
                    <li class="nav-item">
                        <hr class="nav-line">
                    </li>
                    <li class="nav-item"><a class="nav-link nav-title no-drag">방문내역</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="../../views/stat/statCalender.html">캘린더</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="../../views/stat/reviewList.html">리뷰내역</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="../../views/stat/statChart.html">방문통계</a></li>
                    <li class="nav-item">
                        <hr class="nav-line">
                    </li>
                    
                    <li class="nav-item"><a class="nav-link nav-title no-drag">고객센터</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="../../views/customer/FAQ.html">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="../../views/customer/writeInquiry.html">문의하기</a></li>
                    <li class="nav-item"><a class="nav-link nav-menu" href="../../views/customer/reviewReport.html">문의내역</a></li>
		    	</ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">7</span><i class="fas fa-envelope fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="../../assets/img/assets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="../../assets/img/assets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="../../assets/img/assets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">운영자2341</span><img class="border rounded-circle img-profile" src="../../assets/img/assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">문의내역</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">허위사실 신고, 욕설, 도배행위등은 경고없이 계정이 정지될 수 있습니다.</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                                <option value="10" selected="">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;</label></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>제목</th>
                                            <th>답변상태</th>
                                            <th>문의번호</th>
                                            <th>공란</th>
                                            <th>문의날짜</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../../assets/img/assets/img/avatars/avatar1.jpeg">10</td>
                                            <td>욕심이 생겼다</td>
                                            <td class="text-primary">접수</td>
                                            <td>22115410</td>
                                            <td>----</td>
                                            <td>22.07.24 13:14</td>
                                        </tr>
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../../assets/img/assets/img/avatars/avatar2.jpeg">9</td>
                                            <td>너와 함께 살고 늙어가</td>
                                            <td class="text-primary">접수</td>
                                            <td>22115409</td>
                                            <td>---<br></td>
                                            <td>22.07.24 13:11</td>
                                        </tr>
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../../assets/img/assets/img/avatars/avatar3.jpeg">8</td>
                                            <td>주름진 손을 맞잡고</td>
                                            <td class="text-primary">접수</td>
                                            <td>22115408</td>
                                            <td>---<br></td>
                                            <td>22.07.24 13:10</td>
                                        </tr>
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../../assets/img/assets/img/avatars/avatar4.jpeg">7</td>
                                            <td>내 삶은 따뜻했었다고</td>
                                            <td class="text-primary">접수</td>
                                            <td>22115407</td>
                                            <td>---<br></td>
                                            <td>22.07.24 13:09</td>
                                        </tr>
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../../assets/img/assets/img/avatars/avatar5.jpeg">6</td>
                                            <td>단 한번 축복</td>
                                            <td class="text-warning">접수중</td>
                                            <td>22115406</td>
                                            <td>---<br></td>
                                            <td>22.07.24 13:08</td>
                                        </tr>
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../../assets/img/assets/img/avatars/avatar1.jpeg">5</td>
                                            <td>그 짧은 마주침이 지나</td>
                                            <td class="text-warning">접수중</td>
                                            <td>22115405</td>
                                            <td>---<br></td>
                                            <td>22.07.24 13:07</td>
                                        </tr>
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../../assets/img/assets/img/avatars/avatar2.jpeg">4<br></td>
                                            <td>빗물처럼 너는 울었다</td>
                                            <td class="text-warning">접수중</td>
                                            <td>22115404</td>
                                            <td>---<br></td>
                                            <td>22.07.23 18:43</td>
                                        </tr>
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../../assets/img/assets/img/avatars/avatar3.jpeg">3</td>
                                            <td>한번쯤은 행복하고 싶었던 바람</td>
                                            <td class="text-warning">접수중</td>
                                            <td>22115403</td>
                                            <td>---<br></td>
                                            <td>22.07.22 21:52</td>
                                        </tr>
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../../assets/img/assets/img/avatars/avatar4.jpeg">2</td>
                                            <td>너까지 울게 만들었을까</td>
                                            <td class="text-secondary">답변완료</td>
                                            <td>22115402</td>
                                            <td>---<br></td>
                                            <td>22.07.20 09:16</td>
                                        </tr>
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="../../assets/img/assets/img/avatars/avatar5.jpeg">1</td>
                                            <td>모두 잊고 살아가라</td>
                                            <td class="text-secondary">답변완료</td>
                                            <td>22115401</td>
                                            <td>---<br></td>
                                            <td>22.07.19 02:27</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong></strong></td>
                                            <td><strong></strong></td>
                                            <td><strong></strong></td>
                                            <td><strong></strong></td>
                                            <td><strong></strong></td>
                                            <td><strong></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="../../assets/js/chart.min.js"></script>
    <script src="../../assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js"></script>
    <script src="../../assets/js/ListeBien.js"></script>
    <script src="../../assets/js/liveReload.js"></script>
    <script src="../../assets/js/Review-rating-Star-Review-Button.js"></script>
    <script src="../../assets/js/theme.js"></script>
    <script src="../../assets/js/WOWSlider-about-us.js"></script>
</body>

</html>