<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>0801정원</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/basket-aside.css">
    <link rel="stylesheet" href="assets/css/Bold-BS4-Responsive-Pricing-Table-Snippet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/style-jw.css">
    <link rel="stylesheet" href="assets/css/vote-aside.css">
    <link rel="stylesheet" href="assets/css/vote.css">
    <link rel="stylesheet" href="assets/css/yogiyo.css">
</head>

<body>
    <nav class="navbar navbar-light bg-white text-center d-xxl-flex align-items-start justify-content-xxl-center sidebar accordion p-0" id="vote-aside">
        <div class="container-fluid d-flex flex-column p-0">
            <div id="bujang-logo-wrap"><img data-bss-hover-animate="pulse" id="bujang-logo-blue" class="no-drag" src="assets/img/bujang-logo%20blue.png" href="header+aside+footer.html"></div>
            <div id="vote-countdown-box">
                <div id="countdown-voting-group"><span class="d-inline-block only-bold">정필1팀</span><span class="d-inline-block">&nbsp;점심 투표</span></div>
                <div id="vote-countdown-times">
                    <div class="d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" id="vote-countdown-end-time"><span class="d-xxl-flex countdown-label">종료 시각</span><span class="countdown-time">11시 45분</span></div>
                    <div class="d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" id="vote-countdown-remain-time"><span class="d-xxl-flex countdown-label">남은 시간</span><span class="countdown-time">00:11:27</span></div>
                </div>
            </div>
            <div id="vote-select-name-area">
                <div id="label-select-name"><span class="no-drag">이름을 선택해주세요</span></div>
                <div class="d-xxl-flex flex-wrap justify-content-xxl-start" id="vote-select-names"><button class="btn btn-primary disabled text-center vote-voted-name" type="button" disabled="&quot;disabled&quot;">이지희</button><button class="btn btn-primary text-center vote-select-name-btn vote-selected-name" type="button">김준호</button><button class="btn btn-primary disabled text-center vote-voted-name" type="button" disabled="&quot;disabled&quot;">최정필2</button><button class="btn btn-primary text-center vote-select-name-btn" type="button">뻐꾸기</button><button class="btn btn-primary text-center vote-select-name-btn" type="button">도요새</button></div>
            </div>
            <div style="width: 100%;">
                <div class="text-start d-flex basket-aside-title"><span class="d-inline-block">오늘의 점심 후보</span></div>
                <div class="table-responsive" id="basket-table">
                    <table class="table" id="basket-table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="d-xxl-flex justify-content-xxl-start basket-table-cell">
                                    <div class="basket-table-store-info"><span class="text-start basket-table-store-name">써브웨이 서울대점</span><span class="text-start basket-table-store-detail">샌드위치 / 251m</span></div>
                                </td>
                                <td class="basket-vote-btn-cell"><button class="btn btn-primary vote-vote-btn" type="button">투표하기</button></td>
                            </tr>
                            <tr>
                                <td class="d-xxl-flex justify-content-xxl-start basket-table-cell">
                                    <div class="basket-table-store-info"><span class="text-start basket-table-store-name">맥도날드 신림점</span><span class="text-start basket-table-store-detail">햄버거 / 320m</span></div>
                                </td>
                                <td class="basket-vote-btn-cell"><button class="btn btn-primary vote-vote-btn" type="button">투표하기</button></td>
                            </tr>
                            <tr>
                                <td class="d-xxl-flex justify-content-xxl-start basket-table-cell">
                                    <div class="basket-table-store-info"><span class="text-start basket-table-store-name">양자강</span><span class="text-start basket-table-store-detail">중국요리 / 520m</span></div>
                                </td>
                                <td class="basket-vote-btn-cell"><button class="btn btn-primary vote-vote-btn" type="button">투표하기</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-xxl-flex justify-content-center align-items-center" id="vote-leader-btn-area"><button class="btn btn-danger d-flex d-xxl-flex justify-content-center align-items-center align-content-center" id="vote-leader-modify-btn" type="button">투표 수정하기</button><button class="btn btn-danger d-flex d-xxl-flex justify-content-center align-items-center align-content-center" id="vote-leader-cancel-btn" type="button" data-bs-target="#vote-link-modal" data-bs-toggle="modal">투표 취소하기</button></div>
                <div class="justify-content-center align-items-center" id="vote-member-btn-area"><button class="btn btn-danger d-flex d-xxl-flex justify-content-center align-items-center align-content-center justify-content-xxl-center align-items-xxl-start" id="vote-member-escape-btn" type="button">다른 사람들이랑 먹을래요</button></div>
            </div>
        </div>
    </nav>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>