<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>리뷰수정창</title>
    <meta name="og:type" content="article">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&amp;display=swap">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/css/admin.css">
    <link rel="stylesheet" href="../../assets/css/alert.css">
    <link rel="stylesheet" href="../../assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="../../assets/css/basket-aside.css">
    <link rel="stylesheet" href="../../assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="../../assets/css/Bold-BS4-Responsive-Pricing-Table-Snippet.css">
    <link rel="stylesheet" href="../../assets/css/Bootstrap-4---Product-List.css">
    <link rel="stylesheet" href="../../assets/css/Bootstrap-4-Calendar-No-Custom-Code.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/Contact-Form-v2-Modal--Full-with-Google-Map.css">
    <link rel="stylesheet" href="../../assets/css/custom-buttons.css">
    <link rel="stylesheet" href="../../assets/css/dh-row-text-image-right-responsive.css">
    <link rel="stylesheet" href="../../assets/css/dh-row-titile-text-image-right-1.css">
    <link rel="stylesheet" href="../../assets/css/FAQ.css">
    <link rel="stylesheet" href="../../assets/css/genie-modal.css">
    <link rel="stylesheet" href="../../assets/css/group.css">
    <link rel="stylesheet" href="../../assets/css/HTML-layout-with-an-unordered-list.css">
    <link rel="stylesheet" href="../../assets/css/ListeBien-listebien.css">
    <link rel="stylesheet" href="../../assets/css/ListeBien.css">
    <link rel="stylesheet" href="../../assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="../../assets/css/random.css">
    <link rel="stylesheet" href="../../assets/css/Review-rating-Star-Review-Button.css">
    <link rel="stylesheet" href="../../assets/css/Reviews.css">
    <link rel="stylesheet" href="../../assets/css/storeinfo.css">
    <link rel="stylesheet" href="../../assets/css/storeList.css">
    <link rel="stylesheet" href="../../assets/css/style-jw.css">
    <link rel="stylesheet" href="../../assets/css/user.css">
    <link rel="stylesheet" href="../../assets/css/visited.css">
    <link rel="stylesheet" href="../../assets/css/vote.css">
    <link rel="stylesheet" href="../../assets/css/yogiyo.css">
</head>

<body><div id="wrapper">
	<nav
		class="navbar navbar-dark bg-primary align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
		id="user-aside">
		<div class="container-fluid d-flex flex-column p-0">
			<a href="https://lunchwb.bss.design"> <img data-bss-hover-animate="pulse" id="bujang-logo"
				width="159" height="38" src="../../assets/img/assets/img/bujang-logo.png">
			</a>
			<ul class="navbar-nav" id="asdie-ul">
				<li class="nav-item"><a class="nav-link nav-title no-drag">나의정보</a></li>
				<li class="nav-item"><a class="nav-link nav-menu" href="../../views/user/checkUserInfo.html">회원정보수정</a></li>
				<li class="nav-item">
					<hr class="nav-line">
				</li>
				<li class="nav-item"><a class="nav-link nav-title no-drag">나의그룹</a></li>
				<li class="nav-item"><a class="nav-link nav-menu" href="../../views/group/groupList.html">그룹목록</a></li>
				<li class="nav-item"><a class="nav-link nav-menu" href="../../views/group/groupList.html">그룹추가</a></li>
				<li class="nav-item"><a class="nav-link nav-menu" href="../../views/group/blacklist.html">블랙리스트</a></li>
				<li class="nav-item">
					<hr class="nav-line">
				</li>
				<li class="nav-item"><a class="nav-link nav-title no-drag">방문내역</a></li>
				<li class="nav-item"><a class="nav-link nav-menu" href="../../views/stat/statCalender.html">캘린더</a></li>
				<li class="nav-item"><a class="nav-link nav-menu" href="../../views/stat/reviewList.html">리뷰내역</a></li>
				<li class="nav-item"><a class="nav-link nav-menu" href="../../views/stat/statChart.html">방문통계</a></li>
				<li class="nav-item">
					<hr class="nav-line">
				</li>

				<li class="nav-item"><a class="nav-link nav-title no-drag">고객센터</a></li>
				<li class="nav-item"><a class="nav-link nav-menu" href="../../views/customer/FAQ.html">FAQ</a></li>
				<li class="nav-item"><a class="nav-link nav-menu" href="../../views/customer/writeInquiry.html">문의하기</a></li>
				<li class="nav-item"><a class="nav-link nav-menu" href="../../views/customer/reviewReport.html">문의내역</a></li>
				<li class="nav-item">
					<hr class="nav-line">
				</li>
			</ul>
		</div>
	</nav>
	<div class="d-flex flex-column" id="content-wrapper">
		<div id="content">
			<nav
				class="navbar navbar-light navbar-expand bg-white shadow d-xxl-flex justify-content-xxl-end mb-4 topbar static-top"
				id="header">
				<div class="container">
					<div></div>
					<ul class="navbar-nav d-xxl-flex align-items-xxl-center">
						<li class="nav-item dropdown no-arrow" id="user-alert"><a
							class="dropdown-toggle nav-link nav-link" aria-expanded="false" data-bs-toggle="dropdown"><span
								class="badge bg-danger badge-counter">3</span><i class="fas fa-bell fa-fw"></i></a>
							<div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
								<h6 class="dropdown-header">알림</h6>
								<a class="dropdown-item d-flex align-items-center" href="#">
									<div class="me-3">
										<div class="bg-primary icon-circle">
											<i class="fas fa-file-alt text-white"></i>
										</div>
									</div>
									<div>
										<span class="small text-gray-500">22.07.21 13:51</span>
										<p>새로운 그룹에 초대받았습니다. 수락하시겠습니까?</p>
									</div>
								</a><a class="dropdown-item d-flex align-items-center" href="#">
									<div class="me-3">
										<div class="bg-success icon-circle">
											<i class="fas fa-donate text-white"></i>
										</div>
									</div>
									<div>
										<span class="small text-gray-500">December 7, 2019</span>
										<p>$290.29 has been deposited into your account!</p>
									</div>
								</a><a class="dropdown-item d-flex align-items-center" href="#">
									<div class="me-3">
										<div class="bg-warning icon-circle">
											<i class="fas fa-exclamation-triangle text-white"></i>
										</div>
									</div>
									<div>
										<span class="small text-gray-500">December 2, 2019</span>
										<p>Spending Alert: We've noticed unusually high spending for your account.</p>
									</div>
								</a> <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
							</div></li>
						<li class="nav-item d-inline-flex"><button class="btn btn-primary" id="logout-btn"
								type="button">로그아웃</button></li>
						<li class="nav-item dropdown d-xxl-flex" id="menu-dropdown"><a class="nav-link"
							aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside"> <i
								class="fas fa-bars"></i>
						</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="views/user/profile.html">나의정보</a> <a class="dropdown-item"
									href="../../views/group/groupList.html">나의그룹</a> <a class="dropdown-item"
									href="../../views/stat/statCalender.html">방문내역</a> <a class="dropdown-item"
									href="../../views/customer/FAQ.html">고객센터</a>
							</div></li>
					</ul>
				</div>
			</nav>
			<div>
				<div class="container-fluid ">
					<h1>리뷰남기기</h1>
					<hr />
					<form id="contactForm-1" action="javascript:void(0);" method="get">
						<input class="form-control" type="hidden" name="Introduction"
							value="This email was sent from www.awebsite.com" /> <input class="form-control"
							type="hidden" name="subject" value="Awebsite.com Contact Form" /><input class="form-control"
							type="hidden" name="to" value="email@awebsite.com" />
						<div class="row">
							<div class="col-md-6">
								<div id="successfail-1"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<img src="../../assets/img/assets/img/ramen.jpeg">
							</div>
							<div id="message-1" class="col-12 col-md-6">
								<h2 class="h4">
									<i class="fa fa-envelope"></i>치킨집<small><small class="required-input"> 분식/라면,치킨</small></small>
								</h2>
								<div class="form-group mb-3">
									<label class="form-label" for="from-name">서울특별시 관악구 3333로 222길 12-5</label><span class="required-input">*</span>
									<div class="input-group">
										<span class="input-group-text"> <i class="fa fa-user-o"></i>
										</span> <input id="from-name-1" class="form-control" type="text" name="name" required
											placeholder="최정필" />
									</div>
								</div>
								<div class="form-group mb-3">
									<label class="form-label" for="from-file">이미지를 선택해주세요</label><span class="required-input">*</span>
									<div class="input-group">
										<span class="input-group-text"><i class="fa fa-file-o"></i></span><input
											id="from-file-1" class="form-control-file" type="file" name="file"  value="/upload/"/>
									</div>
								</div>
								<div class="row">
                                    
									<div class="col-12 col-sm-6 col-md-12 col-lg-6">
										<div class="form-group mb-3">
											<label class="form-label" for="from-calltime">별점</label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fa fa-star"></i></span>
												</div>
												<select id="from-calltime-1" class="form-select" name="call time">
													<optgroup label="주고싶은 별점을 선택하세요">
                                                        <option value="0" >☆☆☆☆☆</option>
														<option value="1" selected>★☆☆☆☆</option>
														<option value="2">★★☆☆☆</option>
														<option value="3">★★★☆☆</option>
                                                        <option value="4">★★★★☆</option>
                                                        <option value="5">★★★★★</option>
													</optgroup>
												</select>
											</div>
										</div>
									</div>
                                    
									<div class="col-12 col-sm-6 col-md-12 col-lg-6">
										<div class="form-group mb-3">
											<label class="form-label" for="from-calltime">함께한 그룹</label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fa fa-user-o"></i></span>
												</div>
												<select id="from-calltime-1" class="form-select" name="call time">
													<optgroup label="그룹을 선택해주세요">
														<option value="Morning" selected>동기그룹</option>
														<option value="Afternoon">개발1팀</option>
														<option value="Evening">개발2팀</option>
													</optgroup>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group mb-3">
									<label class="form-label" for="from-comments">리뷰</label>
									<textarea id="from-comments-1" class="form-control" name="comments"
									 rows="5">정말 맛있었어요! 라면하고 치킨이 같이 있으니 진짜 너무 좋아요</textarea>
								</div>
								<div class="form-group mb-3">
									<div class="row">
										<div class="col">
											<button class="btn btn-primary d-block w-100" type="reset">
												<i class="fa fa-undo"></i> 초기화
											</button>
										</div>
										<div class="col">
											<button class="btn btn-primary d-block w-100" type="submit">
												리뷰수정하기 <i class="fa fa-chevron-circle-right"></i>
											</button>
										</div>
									</div>
								</div>
								<hr class="d-flex d-md-none" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>


		<footer class="bg-white sticky-footer" id="footer">
			<div class="container my-auto">
				<div class="text-center my-auto copyright">
					<span>Copyright © FEELIS 2022<br>https://github.com/FEELIS&nbsp;<br></span>
				</div>
			</div>
		</footer>
	</div>
	<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/Review-rating-Star-Review-Button.js"></script>
<script src="assets/js/chart.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="assets/js/theme.js"></script>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="../../assets/js/chart.min.js"></script>
    <script src="../../assets/js/Contact-Form-v2-Modal--Full-with-Google-Map.js"></script>
    <script src="../../assets/js/ListeBien.js"></script>
    <script src="../../assets/js/liveReload.js"></script>
    <script src="../../assets/js/Review-rating-Star-Review-Button.js"></script>
    <script src="../../assets/js/theme.js"></script>
    <script src="../../assets/js/WOWSlider-about-us.js"></script>
</body>

</html>