/* 
220803 11:53 최정필
calendar.css 로 파일명 변경

.card 에 text-align: center 추가
 
.show-menu {
  flex: 0 0 auto;
  margin-left: 16.66666667%;
  width: 66.66666667%;
  min-width: inherit;
}  추가


 */

@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}


.calendar {
  border-radius: 10px;
}

.calendar-wrapper {
  width: 100%;
  margin: auto;
  border: 1px solid #eee;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}


.month {
  font-size: 2rem;
}

.calendar ol li {
  float: left;
  list-style: none;
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 8rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.date{
	padding-right: 20px;
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n + 29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}

.card, .h1 {
	text-align: center;
}

.prev-button, .next-button {
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.show-menu {
  flex: 0 0 auto;
  margin-left: 16.66666667%;
  width: 100%;
  min-width: inherit;
}

.week {
  overflow: hidden;
}

.week.start-on-sunday .day:last-child {
  color: blue;
}

.week.start-on-sunday .day:nth-child(1) {
  color: red;
}



